@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .actived{
        color: rgb(162, 130, 219);
        background-color: #272727;
        border-radius: 10px;
        box-sizing: border-box;
        transition: all .1s linear;
        font-weight: bold;
    }
    .nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        padding: 10px 15px;
    }
    .title{
        @apply text-2xl font-bold mb-4;
    }
    .active-text{color: rgb(162, 130, 219);}
}